@font-face {
	font-family: 'GlacialIndifference-Bold';
	src: url('/fonts/GlacialIndifference-Bold.eot');
	src: url('/fonts/GlacialIndifference-Bold.woff2') format('woff2'),
		url('/fonts/GlacialIndifference-Bold.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'GlacialIndifference-Regular';
	src: url('/fonts/GlacialIndifference-Regular.eot');
	src: url('/fonts/GlacialIndifference-Regular.woff2') format('woff2'),
		url('/fonts/GlacialIndifference-Regular.woff') format('woff');
	font-display: swap;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: #000;
	color: #fff;
	margin: 0;
	padding: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: 'GlacialIndifference-Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	font-size: 2em;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

a {
	color: #6a9e3b;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #6a9e3b;
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type='range'] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'GlacialIndifference-Bold', sans-serif;
}

.garden {
	width: 100%;
	margin-top: 5%;
	display: flex;
	justify-content: center;
}
#codes div,
.plant {
	display: inline-block;
}
.plants {
	flex: 1.2;
}
.tagline {
	padding-left: 2em;
	padding-right: 2em;
}
.name {
	flex: 0.8;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
svg {
	overflow: visible;
}
.plant {
	position: absolute;
	width: 20%;
}
.schedule {
	padding: 0.5em;
	width: 40%;
}
#codes div {
	font-size: 3vw;
}

@media (prefers-reduced-motion) {
	* {
		animation: none !important;
	}
}
