@font-face {font-family: "GlacialIndifference-Bold";
  src: url("/fonts/GlacialIndifference-Bold.eot");
  src: url("/fonts/GlacialIndifference-Bold.woff2") format("woff2"),
  url("/fonts/GlacialIndifference-Bold.woff") format("woff");
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: #000;
	color: #fff;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: 'GlacialIndifference-Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-display: swap;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'GlacialIndifference-Bold', sans-serif;
}
